.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    margin: 1rem;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0.9rem 1.75rem rgba(0, 0, 0, 0.3);
    }
    &__title {
        font-size: 1rem;
    }
    &__contact {
        font-size: 0.8rem;
        color: #999;
    }
    &__image{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid rgb(233, 31, 31);
    }
}
